* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #ffffff;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  width: 1000px;
  margin: 0 auto;
}
.blok {
  position: relative;
  width: 919px;
  margin: 0 auto;
}
.zagolovki {
  font-size: 24px ;
  color: #33cb98;
  margin: 16px 0;
}
.table {
  font-size: 13px;
  line-height: 14px;
  border-color: transparent;
  border-spacing: 0 2px;
}
.td {
  padding: 8px 10px;
}
.tr:nth-child(2n+1) {
  background: #e6e6e6;
  height: 31px;
  padding: 8px 10px;
}
.tr:nth-child(2n) {
  background: #f1f1f1;
  height: 31px;
}
.table_first_col1 {
  width: 210px;
  color: #5c5c5c;
}
.table_second_col1 {
  width: 175px;
  color: #5c5c5c;
}
.clearfix {
  clear: both;
}
/*Первая таблица*/
.table_1 {
  float: left;
  width: 544px;
}
/*Вторая таблица*/
.table_2 {
  float: left;
  width: 356px;
  margin: 0 0 0 19px;
}
/*Блок с дополнительной информацией*/
.dop-info {
  float: left;
  width: 356px;
  margin: 0 0 0 19px;
}
.info_backgraund {
  background: #e6e6e6;
}
.info {
  display: block;
  font-size: 13px;
  padding: 15px;
}
/*Блок с контактами*/
.contakti {
  display: block;
  position: relative;
  border: 1px solid #33cb98;
  font-size: 13px;
  line-height: 18px;
  box-shadow: #5c5c5c 0px 1px 1px;
  margin: 0 0 20px 0;
}
.table_info {
  width: 100%;
  padding: 10px;
}
.td_smal {
  padding: 0 5px;
  vertical-align: top;
}
.active_info {
  position: inherit;
  cursor: pointer;
  color: #000000;
}
.active_info:hover {
  background: #000000;
  color: #ffffff;
}
.active_info2 {
  position: inherit;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
.active_info2:hover {
  background: #000000;
  color: #ffffff;
}
.name {
  position: absolute;
  margin: 3px 0 0 -18px;
  background: url("images/sprite.png") 0px -18px no-repeat;
  width: 16px;
  height: 12px;
}
.local {
  position: absolute;
  margin: 3px 0 0 -18px;
  background: url("images/sprite.png") 0px 0px no-repeat;
  width: 15px;
  height: 15px;
}
.region {
  color: #5c5c5c;
}
.tel {
  position: absolute;
  margin: 3px 0 0 -18px;
  background: url("images/sprite.png") 0px -32px no-repeat;
  width: 11px;
  height: 16px;
  text-decoration: none;
}
.mail {
  position: absolute;
  margin: 5px 0 0 -21px;
  background: url("images/sprite.png") 0px -50px no-repeat;
  width: 14px;
  height: 9px;
}
